@use "../global/variables.scss" as var;
@use "../global/mixins.scss" as mix;

.advantages {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: var.$tablet-width) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        row-gap: 70px;
        column-gap: 130px;
    }

    @media (min-width: var.$desktop-width) {
        justify-content: flex-start;
        row-gap: 150px;
    }
}

.advantages__heading {
    margin: 0 0 30px;

    @include mix.font-section-heading;

    @media (min-width: var.$tablet-width) {
        margin: 0 0 50px;
    }

    @media (min-width: var.$desktop-width) {
        margin: 0 0 80px;
    }
}

.advantages .advantages__design-text-content {
    @media (min-width: var.$desktop-width) {
        padding: 94px 0;
    }
}

.advantages .advantages__color {
    @media (min-width: var.$tablet-width) {
        position: relative;
        z-index: 1;

        padding: 20px 0;
        margin: 0 0 0 60px;
    }

    @media (min-width: var.$desktop-width) {
        padding: 462px 0 0;
        margin: 0;
    }
}

.advantages__color-heading {
    position: relative;

    @media (min-width: var.$tablet-width) {
        &::before {
            content: "";

            position: absolute;
            left: -57px;
            top: 20px;

            display: block;
            width: 24px;
            height: 290px;

            mask-image: url("../img/icons/sprite-bg.svg#color-heading-arrow-view");
            mask-repeat: no-repeat;
            mask-size: 24px 290px;
            background-color: var.$color-border-table;
        }
    }
}

.advantages .advantages__indicators {
    @media (min-width: var.$tablet-width) {
        position: relative;
        z-index: 1;
    }

    @media (min-width: var.$desktop-width) {
        top: -208px;

        flex-direction: column;
        margin: 0 0 -208px;
        padding: 0 538px;
    }
}

.advantages__indicators .advantages__indicators-text-content {
    max-width: 500px;

    @media (min-width: var.$desktop-width) {
        padding: 0 27px;
    }
}

.advantages__indicators-heading {
    @media (min-width: var.$desktop-width) {
        position: relative;

        &::before {
            content: "";

            position: absolute;
            left: -84px;
            top: 22px;

            display: block;
            width: 47px;
            height: 330px;

            mask-image: url("../img/icons/sprite-bg.svg#indicators-arrow-view");
            mask-repeat: no-repeat;
            mask-size: 47px 330px;
            background-color: var.$color-border-table;
        }
    }
}

.advantages__indicators-video {
    @media (min-width: var.$desktop-width) {
        margin: 21px 0 0;
    }
}

.advantages .advantages__modes {
    @media (min-width: var.$tablet-width) {
        position: relative;
        z-index: 1;
    }

    @media (min-width: var.$desktop-width) {
        column-gap: 43px;
        padding: 0 0 0 367px;
    }
}

.advantages__modes .advantages__modes-text-content {
    @media (min-width: var.$tablet-width) {
        max-width: 420px;
    }

    @media (min-width: var.$desktop-width) {
        padding: 84px 0 0;
    }
}

.advantages__modes-heading {
    @media (min-width: var.$desktop-width) {
        position: relative;

        &::after {
            content: "";

            position: absolute;
            left: 220px;
            top: 21px;

            display: block;
            width: 207px;
            height: 486px;

            mask-image: url("../img/icons/sprite-bg.svg#modes-arrow-view");
            mask-repeat: no-repeat;
            mask-size: 207px 486px;
            background-color: var.$color-border-table;
        }
    }
}

.advantages__section-number-list {
    top: -16px;
}

.advantages__decor-picture {
    position: absolute;

    top: 1175px;
}

.advantages__inscription {
    position: absolute;
    right: -78px;
    top: 112px;
}
