@use "../global/variables.scss" as var;

.decor-picture {
    position: absolute;

    display: none;

    @media (min-width: var.$tablet-width) {
        display: block;
    }

    &--alter {
        left: 0;

        transform: rotate(180deg) scaleY(-1);
    }
}
