@use "../global/variables.scss" as var;
@use "../global/mixins.scss" as mix;

.page {
    margin: 0;

    background-color: var.$color-main-background;
}

.page__body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 0;
    min-width: 320px;
    min-height: 100dvh;

    @include mix.font-main-text;

    background-color: var.$color-main-background;
}

.page__section {
    position: relative;
}
