@use "../global/variables.scss" as var;

.container {
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;

    @media (min-width: var.$tablet-width) {
        padding: 0 40px;
    }

    @media (min-width: var.$desktop-width) {
        padding: 0;
        max-width: 1920px;
    }

    &--small {
        @media (min-width: 1240px) {
            padding: 0 36px;
            max-width: 1240px;
        }
    }
}
